<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <h1><%= title %></h1>
    <p>Welcome to your <%= subtitle %></p>
    <pre>An elemental exercise about CRUD (create, read, update, delete), operations with products,
      in this case artworks with includes an image, and file upload and delete</pre>
    <section class="upload">
      <h2>Upload new artwork</h2>
      <form action="/upload" method="post" enctype="multipart/form-data">
        Author name:<br>
        <input type="text" name="author" value="Author of the work">
        Artwork name:<br>
        <input type="text" name="name" value="title of the image">
        Image file to upload:
        <input type="file" name="file">
        Description: <br>
        <input type="text" name="description" value="description">
        upload!
        <input type="submit" value="Save">
      </form>
    </section>

    <section>
      <h2 class="list-tittle">List of artworks exposed</h2>
        <% pictures.forEach(function(picture) { %>
          <div class="picture-block">
            <h3 class="arwork-tittle">Artwork tittle: </h3>
            <div class="picture-name"><%= picture.name %></div>
            <h4 class="picture-author">Autor: <%= picture.author %></h4>
            <h4 class="picture-id">Catalogue ID: <%= picture._id %></h4>
            <img src="<%= picture.pic_path %>" alt="<%= picture.pic_name %>" />
            <div class="description"><b>Description:</b> <%=picture.description%></div>
            <div class="buttons">
                <form action="<%= picture._id%>/delete" method="POST">
                  <button  type="submit">Delete artwork</button>
                </form>
                <form action="<%= picture._id%>/edit" method="GET">
                  <button  type="submit">Update Text</button>
                </form>
            </div>
          </div>
        <% })%>
    </section>


  </body>
</html>
